<section>
	<h1>{{ text.heading }}</h1>
	<p>{{ text.intro }}</p>
	<form name="personalInfoForm" novalidate class="row">
		<section class="col-sm-6 col-xs-12">
			<fieldset>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.firstName.$invalid}">
					<label for="firstName" class="control-label">{{ text.labels.firstName }}</label>
					<input type="text" name="firstName" class="form-control" id="firstName" ng-model="author.firstName" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z\- ]+$/i" />
					<span ng-show="personalInfoForm.firstName.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.firstName.$invalid" class="help-block">
						{{ text.errors.firstName }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.lastName.$invalid}">
					<label for="lastName" class="control-label">{{ text.labels.lastName }}</label>
					<input type="text" name="lastName" class="form-control" id="lastName" ng-model="author.lastName" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z\- ]+$/i" />
					<span ng-show="personalInfoForm.lastName.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.lastName.$invalid" class="help-block">
						{{ text.errors.lastName }}
					</p>
				</div>
			</fieldset>
			<fieldset >
				<p class="label">{{ text.labels.dateOfBirth.summary }}</p>
				<div class="row dateOfBirthFields">
					<div class="form-group col-xs-4" ng-class="{'has-error has-feedback': personalInfoForm.dateOfBirthDate.$invalid}">
						<label for="dateOfBirthDate" class="sr-only control-label">{{ text.labels.dateOfBirth.date }}</label>
						<input type="number" min="1" max="31" maxlength="2" class="form-control" name="dateOfBirthDate" id="dateOfBirthDate" ng-model="author.dateOfBirthDate" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^(0?[1-9])|([1-2]?[0-9])|(3[01]])$/" placeholder="dd" />
						<span ng-show="personalInfoForm.dateOfBirthDate.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					</div>
					<div class="form-group col-xs-4" ng-class="{'has-error has-feedback': personalInfoForm.dateOfBirthMonth.$invalid}">
						<label for="dateOfBirthMonth" class="sr-only control-label">{{ text.labels.dateOfBirth.month }}</label>
						<input type="number" min="1" max="12" maxlength="2" class="form-control" name="dateOfBirthMonth" id="dateOfBirthMonth" ng-model="author.dateOfBirthMonth" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^(0?[1-9])|(1[12])$/" placeholder="mm" />
						<span ng-show="personalInfoForm.dateOfBirthMonth.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					</div>
					<div class="form-group col-xs-4" ng-class="{'has-error has-feedback': personalInfoForm.dateOfBirthYear.$invalid}">
						<label for="dateOfBirthYear" class="sr-only control-label">{{ text.labels.dateOfBirth.year }}</label>
						<input type="number" min="{{ year - 100 }}" max="{{ year }}" maxlength="4" class="form-control" name="dateOfBirthYear" id="dateOfBirthYear" ng-model="author.dateOfBirthYear" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^(19[1-9][0-9])|(20(0[0-9]|1[0-6]))$/" placeholder="yyyy" />
						<span ng-show="personalInfoForm.dateOfBirthYear.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					</div>
				</div>
				<div class="has-error">
					<p ng-show="personalInfoForm.dateOfBirthDate.$invalid" class="help-block">
						{{ text.errors.dateOfBirth.dateOfBirthDate }}
					</p>
					<p ng-show="personalInfoForm.dateOfBirthMonth.$invalid" class="help-block">
						{{ text.errors.dateOfBirth.dateOfBirthMonth }}
					</p>
					<p ng-show="personalInfoForm.dateOfBirthYear.$invalid" class="help-block">
						{{ text.errors.dateOfBirth.dateOfBirthYear }}
					</p>
				</div>
			</fieldset>
		</section>
		<section class="col-sm-6 col-xs-12">
			<fieldset>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressFirstLine.$invalid}">
					<label for="addressFirstLine" class="control-label">{{ text.labels.address.firstLine }}</label>
					<input type="text" name="addressFirstLine" class="form-control" id="addressFirstLine" ng-model="author.addressFirstLine" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z0-9\- ]$/i" />
					<span ng-show="personalInfoForm.addressFirstLine.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressFirstLine.$invalid" class="help-block">
						{{ text.errors.address.firstLine }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressSecondLine.$invalid}">
					<label for="addressSecondLine" class="control-label">{{ text.labels.address.secondLine }}</label>
					<input type="text" name="addressSecondLine" class="form-control" id="addressSecondLine" ng-model="author.addressSecondLine" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z0-9\- ]$/i" />
					<span ng-show="personalInfoForm.addressSecondLine.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressSecondLine.$invalid" class="help-block">
						{{ text.errors.address.secondLine }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressThirdLine.$invalid}">
					<label for="addressThirdLine" class="control-label">{{ text.labels.address.thirdLine }}</label>
					<input type="text" name="addressThirdLine" class="form-control" id="addressThirdLine" ng-model="author.addressThirdLine" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z0-9\- ]$/i" />
					<span ng-show="personalInfoForm.addressThirdLine.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressThirdLine.$invalid" class="help-block">
						{{ text.errors.address.thirdLine }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressTown.$invalid}">
					<label for="addressTown" class="control-label">{{ text.labels.address.town }}</label>
					<input type="text" name="addressTown" class="form-control" id="addressTown" ng-model="author.addressTown" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z\- ]$/i" />
					<span ng-show="personalInfoForm.addressTown.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressTown.$invalid" class="help-block">
						{{ text.errors.address.town }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressCounty.$invalid}">
					<label for="addressCounty" class="control-label">{{ text.labels.address.county }}</label>
					<input type="text" name="addressCounty" class="form-control" id="addressCounty" ng-model="author.addressCounty" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z\- ]$/i" />
					<span ng-show="personalInfoForm.addressCounty.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressCounty.$invalid" class="help-block">
						{{ text.errors.address.county }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressCountry.$invalid}">
					<label for="addressCountry" class="control-label">{{ text.labels.address.country }}</label>
					<input type="text" name="addressCountry" class="form-control" id="addressCountry" ng-model="author.addressCountry" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^[a-z\- ]$/i" />
					<span ng-show="personalInfoForm.addressCountry.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressCountry.$invalid" class="help-block">
						{{ text.errors.address.country }}
					</p>
				</div>
				<div class="form-group" ng-class="{'has-error has-feedback': personalInfoForm.addressPostcode.$invalid}">
					<label for="addressPostcode" class="control-label">{{ text.labels.address.postcode }}</label>
					<input type="text" name="addressPostcode" id="addressPostcode" class="form-control" ng-model="author.addressPostcode" ng-model-options="{ 'updateOn': 'blur' }" ng-pattern="/^([a-z]{1,2}[0-9][a-z0-9]? ?[0-9][a-z]{1,2})|([0-9]{5})$/i" />
					<span ng-show="personalInfoForm.addressPostcode.$invalid" class="glyphicon glyphicon-remove form-control-feedback"></span>
					<p ng-show="personalInfoForm.addressPostcode.$invalid" class="help-block">
						{{ text.errors.address.postcode }}
					</p>
				</div>
			</fieldset>
		</section>
		<section class="col-xs-12">
			<div class="form-group">
				<label for="otherDetails" class="control-label">{{ text.labels.other }}</label>
				<textarea name="otherDetails" id="otherDetails" class="form-control" ng-model="author.otherDetails" rows="8"></textarea>
			</div>
		</section>
		<ul class="list-unstyled list-inline actions text-center">
			<li><input type="reset" class="btn btn-danger" value="{{ text.reset }}" /></li>
			<li><input type="submit" class="btn btn-primary" value="{{ text.submit }}" /></li>
		</ul>
	</form>
	<a href="#/author" class="btn btn-default">Back</a>
</section>