.loading-indicator {
	background:white;
	bottom:0;
	left:0;
	position:absolute;
	right:0;
	top:0;
	&-body {
		height:100%;
		margin:50% auto;
		width:60px;
	}
	.fading-circle-spinner {
		margin:auto;
	}
}