<section>
	<h1>{{ instance.name + text.heading + story.name }}</h1>
	<p>{{ text.intro + instance.name }}</p>
	<form>
		<fieldset ng-repeat="fieldset in component.fieldsets">
			<h2>
				{{ fieldset.name }}
			</h2>
			<div class="form-group" ng-repeat="field in fieldset.fields">
				<label class="control-label">
					{{ field.label }}
				</label>
				<input type="{{ field.type }}" name="{{ field.inputName }}" class="form-control" />
			</div>
		</fieldset>
	</form>
	<a href="#/stories/{{ story.modifiedName + '/' + component.modifiedComponentName }}" class="btn btn-default">
		{{ text.backBtn }}{{ component.name | lowercase }}
	</a>
</section>