<section>
	<h1>{{ story.name }}</h1>
	<p>
		To access this story directly you can use this as the url:
		<a ng-if="story.modifiedName !== undefined" href="{{ story.modifiedName | absoluteUrl }}">
			{{ story.modifiedName | absoluteUrl }}
		</a>
	</p>
	<h2>About this story</h2>
	<h3>Short Description</h3>
	<div ng-bind-html="story.shortDescription | trustHtml"></div>
	<h3>Long Description</h3>
	<div ng-bind-html="story.longDescription | trustHtml"></div>
</section>
<section class="storyComponents">
	<uib-tabset class="tabs storyDetailsTabs">
		<uib-tab index="$index" ng-repeat="component in story.components" active="isActiveStoryDetailsTab($index)">
			<uib-tab-heading ng-click="setActiveStoryDetailsTab($index)">
				{{ component.name }}
			</uib-tab-heading>
			<h2>
				{{ component.name }}
			</h2>
			<ul ng-if="component.list.length">
				<li ng-repeat="item in component.list">
					<a href="#/stories/{{ story.modifiedName }}/{{ component.modifiedComponentName }}/{{ item.modifiedName }}">
						{{ item.name }}
					</a>
				</li>
			</ul>
			<ul class="list-unstyled list-inline actions">
				<li ng-if="component.list.length">
					<a href="#/stories/{{ story.modifiedName }}/{{ component.modifiedComponentName }}" class="btn btn-primary">
						Go to {{ component.modifiedComponentName }}
					</a>
				</li>
				<li>
					<add-component-instance></add-component-instance>
				</li>
			</ul>
			<p ng-if="!component.list.length">This tail has no {{ component.modifiedComponentName }} yet.</p>
		</uib-tab>
	</uib-tabset>
	<div uib-collapse="hideAddCustomComponent" class="panel panel-default">
		<header class="panel-heading">
			<h2 class="panel-title">
				Add your own component
			</h2>
		</header>
		<div class="panel-body">
			<p>Here you can add your own component to customise this story to your needs.</p>
			<form>
				<div class="form-group">
					<label class="control-label">Component Name</label>
					<input type="text" class="form-control" />
				</div>
				<input type="submit" class="btn btn-primary" value="Add custom component to this story" />
			</form>
		</div>
	</div>
	<ul class="list-unstyled list-inline actions">
		<li>
			<a href="#/stories" class="btn btn-default">
				{{ text.backBtn }}
			</a>
		</li>
		<li>
			<a class="btn btn-default" role="button" ng-click="hideAddCustomComponent = !hideAddCustomComponent">
				<span ng-if="hideAddCustomComponent">Add custom component&hellip;</span>
				<span ng-if="!hideAddCustomComponent">Hide form</span>
			</a>
		</li>
		<li>
			<delete-story></delete-story>
		</li>
	</ul>
</section>