<section class="jumbotron">
	<h1>{{ text.heading }}</h1>
	<p>{{ text.intro }}</p>
	<ul class="list-unstyled list-inline">
		<li>
			<a href="#/stories" class="btn btn-primary">
				{{ text.stories.linkText }}
			</a>
		</li>
		<li>
			<add-story></add-story>
		</li>
	</ul>
</section>
<section class="panel panel-default">
	<header class="panel-heading">
		<h2 class="panel-title">{{ text.author.heading }}</h2>
	</header>
	<div class="panel-body">
		<p>{{ text.author.info }}</p>
		<a href="#/author" class="btn btn-default">{{ text.author.linkText }}</a>
	</div>
</section>