<section>
	<h1>{{ instance.name + text.heading + story.name }}</h1>
	<p>{{ text.intro + instance.name }}</p>
	<ul class="list-unstyled list-inline">
		<li ng-if="editMode === false && component.fields">
			<button role="button" ng-click="enterEditMode()" class="btn btn-default">
				Edit instance
			</button>
		</li>
		<li ng-if="editMode === true">
			<button ng-click="exitEditMode()" class="btn btn-default">
				Cancel
			</button>
		</li>
		<li ng-if="editMode === true">
			<button ng-click="saveChanges()" class="btn btn-primary">
				Save changes
			</button>
		</li>
	</ul>
	<p ng-if="!component.fieldsets">
		No sections to show.
		<add-fieldset></add-fieldset>
	</p>
	<form ng-if="component.fieldsets">
		<fieldset ng-repeat="fieldset in component.fieldsets | orderObjectBy: 'order'">
			<h2>
				{{ fieldset.title }}
			</h2>
			<p ng-if="!component.fields">
				No fields to show.
			</p>
			<div class="form-group" ng-repeat="field in component.fields | filterObjectBy: 'fieldset': fieldset | orderObjectBy: 'order'">
				<label class="control-label" for="{{ field.inputName }}">
					{{ field.label }}
				</label>
				<input
					ng-if="field.type !== 'select' && field.type !== 'textarea' && field.type !== 'checkbox' && field.type !== 'radio'"
					type="{{ field.type }}"
					name="{{ field.inputName }}"
					id="{{ field.inputName }}"
					class="form-control"
					ng-disabled="!editMode"
					ng-model="editedInstanceDetails[field.inputName]"
				/>
				<select
					ng-if="field.type === 'select'"
					class="form-control"
					name="field.inputName"
					id="{{ field.inputName }}"
					ng-disabled="!editMode"
					ng-model="editedInstanceDetails[field.inputName]"
				>
					<option value="-1">
						Please select
					</option>
					<option ng-repeat="option in field.options" value="{{ option | prepareForUrl }}">
						{{ option }}
					</option>
				</select>
				<textarea
					ng-if="field.type === 'textarea'"
					class="form-control"
					name="{{ field.inputName }}"
					id="{{ field.inputName }}"
					ng-disabled="!editMode"
					ng-model="editedInstanceDetails[field.inputName]"
				>
				</textarea>
				<details-picker
					update="field"
					picker-type="{{ field.type }}"
					picker-options="pickerOptions[field.inputName]"
					edit-mode="editMode"
					ng-if="pickerOptions[field.inputName] && (field.association !== '' || field.options !== '')"
				>
				</details-picker>
				<p ng-if="field.association !== '' && !pickerOptions[field.inputName]">
					There are currently no options to associate with {{ instance.name }}. Please go to the <a href="#/stories/{{ story.modifiedName }}">story details page</a> to create one.
				</p>
			</div>
			<add-field></add-field>
		</fieldset>
	</form>
	<ul class="list-unstyled list-inline">
		<li>
			<a href="#/stories/{{ story.modifiedName }}" class="btn btn-default">
				{{ text.backBtn }}{{ story.name | lowercase }}<span ng-if="editMode === true"> (cancels changes)</span>
			</a>
		</li>
		<li>
			<a href="#/stories/{{ story.modifiedName + '/' + component.modifiedComponentName }}" class="btn btn-default">
				{{ text.backBtn }}{{ component.name | lowercase }}<span ng-if="editMode === true"> (cancels changes)</span>
			</a>
		</li>
		<li ng-if="editMode === false && component.fields">
			<button role="button" ng-click="enterEditMode()" class="btn btn-default">
				Edit instance
			</button>
		</li>
		<li ng-if="editMode === true">
			<add-fieldset></add-fieldset>
		</li>
		<li ng-if="editMode === true">
			<button ng-click="exitEditMode()" class="btn btn-default">
				Cancel
			</button>
		</li>
		<li ng-if="editMode === true">
			<button ng-click="saveChanges()" class="btn btn-primary">
				Save changes
			</button>
		</li>
		<li ng-if="editMode === true">
			<delete-component-instance></delete-component-instance>
		</li>
	</ul>
</section>