.storyComponents {
	.storyDetailsTabs {
		border-bottom:1px solid $borderPrimaryColour;
		margin-bottom:20px;
		padding-bottom:20px;
	}
	.panel {
		margin-bottom:0;
		+ a {
			margin-top:20px;
		}
	}
}